@implements IDialogContentComponent

<div style="padding: 0px !important;">
    <FluentDialogHeader Visible="false" />


    <FluentDesignTheme @ref=_theme
                       @bind-Mode="@Mode"
                       @bind-OfficeColor="@OfficeColor"
                       Direction="@Direction"
                       StorageName="theme" />

    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentButton Appearance="Appearance.Lightweight" OnClick="OnCloseAsync">
                <FluentIcon Value="@(new Icons.Regular.Size24.ArrowCircleLeft())" Color="Color.Accent" />
            </FluentButton>
            <FluentSpacer />
        </div>
        <FluentNavMenu>
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.History())" IconColor="Color.Accent">Dashboard</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <AuthorizeView>
                @* <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink> *@
            </AuthorizeView>
            <FluentNavLink Href="permits" Icon="@(new Icons.Regular.Size20.Person())" IconColor="Color.Accent">Permits</FluentNavLink>

        </FluentNavMenu>
    </FluentStack>
</div>

@* <div style="display: flex; flex-direction: column; height: 90%;">
    <div style="flex: 1; overflow-y: auto;">
        <FluentNavMenu>
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.History())" IconColor="Color.Accent">Dashboard</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <AuthorizeView>

            </AuthorizeView>
<FluentNavLink Href="permits" Icon="@(new Icons.Regular.Size20.Person())" IconColor="Color.Accent">Permits</FluentNavLink>

        </FluentNavMenu>
    </div>

<div style="padding-top: 10px;margin-bottom: 5px; position: sticky; bottom: 0; width: 100%; z-index: 1;display: flex;flex-direction: row;">
    <FluentSwitch @bind-Value=DarkMode
                  Style="margin-right: 10px;">
        <span slot="checked-message">Dark</span>
        <span slot="unchecked-message">Light</span>
    </FluentSwitch>

    <FluentSelect Items="@(OfficeColorUtilities.AllColors.Cast<OfficeColor?>())"
                  Width="170px"
                  Height="200px"
                  @bind-SelectedOption="@OfficeColor">
        <OptionTemplate>
            <FluentStack>
                <FluentIcon Value="@(new Icons.Filled.Size20.RectangleLandscape())"
                            Color="Color.Custom"
                            CustomColor="@GetCustomColor(@context)" />
                <FluentLabel>@context</FluentLabel>
            </FluentStack>
        </OptionTemplate>
    </FluentSelect>

</div>
</div>
 *@