@inject NavigationManager Navigation

@if (_serverAccessible)
{
    <FluentButton id="NavMenu" Appearance="Appearance.Lightweight" OnClick="OnNavMenuClickAsync" Title="@_navMenuTitle">
        <FluentIcon Value="@(new Icons.Regular.Size24.Navigation())" Color="Color.Accent" Title="@_navMenuTitle" />
    </FluentButton>

    @*   <FluentMenu Anchor="NavMenu" @bind-Open="ShowNavMenu">
        <FluentMenuItem OnClick="@(() => Navigation.NavigateTo("/"))">
            <span slot="start"><FluentIcon Value="@(new Icons.Regular.Size20.Home())" Color="Color.Accent" Slot="start" /></span>
            Dashboard
        </FluentMenuItem>
        <FluentMenuItem OnClick="@(() => Navigation.NavigateTo("/counter"))">
            <span slot="start"><FluentIcon Value="@(new Icons.Regular.Size20.NumberSymbolSquare())" Color="Color.Accent" Slot="start" /></span>
            Counter
        </FluentMenuItem>
        <FluentMenuItem OnClick="@(() => Navigation.NavigateTo("/permits"))">
            <span slot="start"><FluentIcon Value="@(new Icons.Regular.Size20.Person())" Color="Color.Accent" Slot="start" /></span>
            Permits
        </FluentMenuItem>

        <AuthorizeView>
            <FluentMenuItem OnClick="@(() => Navigation.NavigateTo("/permits"))">
                <span slot="start"><FluentIcon Value="@(new Icons.Regular.Size20.Person())" Color="Color.Accent" Slot="start" /></span>
                Permits2
            </FluentMenuItem>
        </AuthorizeView>

    </FluentMenu> *@

    @if (ShowNavMenu)
    {
        <div class="sidebar">
            <div class="sidebar-header" style="">
                <FluentButton Appearance="Appearance.Lightweight" OnClick="OnCloseAsync">
                    <FluentIcon Value="@(new Icons.Regular.Size24.ArrowCircleLeft())" Color="Color.Accent" />
                </FluentButton>
                <FluentSpacer />
            </div>
            <div class="scrollable-menu">
                <FluentNavMenu>
                    <FluentNavLink Href="/" OnClick="OnCloseAsync" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.History())" IconColor="Color.Accent">Dashboard</FluentNavLink>
                    <FluentNavLink Href="counter" OnClick="OnCloseAsync" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
                    <AuthorizeView>
                    </AuthorizeView>
                    <FluentNavLink Href="permits" OnClick="OnCloseAsync" Icon="@(new Icons.Regular.Size20.Person())" IconColor="Color.Accent">Permits</FluentNavLink>


                    <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Tooltip="Item 1 tooltip">Item 1</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.Cloud())" Disabled="true" Tooltip="Item 2 tooltip">Item 2</FluentNavLink>
                    <FluentNavGroup Title="Item 3" Tooltip="Item 3 tooltip" Icon="@(new Icons.Regular.Size24.EarthLeaf())">
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafOne())" Tooltip="Item 3.1 tooltip">Item 3.1</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafTwo())" Disabled="true" Tooltip="Item 3.2 tooltip">Item 3.2</FluentNavLink>
                        <FluentNavGroup Title="Item 3.3" Tooltip="Item 3.3 tooltip" Icon="@(new Icons.Regular.Size24.LeafThree())">
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.Earth())" Href="https://microsoft.com" Tooltip="Item 3.3.1 tooltip">https://microsoft.com</FluentNavLink>
                        </FluentNavGroup>
                        <FluentNavGroup Title="Item 3.4" Tooltip="Item 3.4 tooltip" Icon="@(new Icons.Regular.Size24.TreeDeciduous())" Disabled="true">
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.Earth())" Href="https://microsoft.com" Tooltip="Item 3.4.1 tooltip">https://microsoft.com</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.Earth())" Href="https://microsoft.com" Tooltip="Item 3.4.2 tooltip">https://microsoft.com</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.Earth())" Href="https://microsoft.com" Tooltip="Item 3.4.3 tooltip">https://microsoft.com</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.Earth())" Href="https://microsoft.com" Tooltip="Item 3.4.4 tooltip">https://microsoft.com</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.Earth())" Href="https://microsoft.com" Tooltip="Item 3.4.5 tooltip">https://microsoft.com</FluentNavLink>
                        </FluentNavGroup>
                    </FluentNavGroup>
                    <FluentNavLink Tooltip="Item 4 tooltip">Item 4</FluentNavLink>
                    <FluentNavGroup Title="Item 5" Tooltip="Item 5 tooltip">
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafOne())" Tooltip="Item 5.1 tooltip">Item 5.1</FluentNavLink>
                    </FluentNavGroup>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Disabled="true" Href="https://microsoft.com" Tooltip="Item 6 tooltip">Item 6</FluentNavLink>

                </FluentNavMenu>
            </div>
        </div>
    }
}